@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-pretendard: 'Pretendard';
}

body {
  font-family: var(--font-pretendard);
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
